<div class="row">
    <div class="col-md-10">
        <h3>Product List</h3>
        <div class="pull-right" style="padding-bottom: 20px;">
            <%= link_to("Add product", new_admin_product_path,class: "btn btn-success") %>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>#</td>
                <td>产品图</td>
                <td>产品类别</td>
                <td>产品名称</td>
                <td>产品价格</td>
                <td>操作选项</td>
                <td>创建时间</td>
            </tr>
            <% @products.each do |product|  %>
            <tr>
                <td><%= product.id %></td>
                <td>
                    <%= link_to product_path(product) do %>
                    <% if product.image.present? %>
                    <% image_tag(product.image.thumb.url,class: "thumbnail") %>
                <% else %>
                    <% image_tag('http://placehold.it/200x200&text=No Pic',class: "thumbnail") %>
                    <% end %>
                    <% end %>
                </td>

        

                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= link_to('edit',edit_admin_product_path(product),class: "btn-xs btn-primary") %>|<%= link_to('delete',admin_product_path(product),method: :delete,class: "btn-xs btn-danger") %>
                    <%= link_to "向上", move_up_admin_product_path(product), method: :patch %>
                    <%= link_to "向下", move_down_admin_product_path(product), method: :patch %></td>
                <td><%= product.created_at %></td>

            </tr>
            <% end  %>
        </table>
    </div>
</div>
