<!DOCTYPE html>
<html>
    <head>
        <title>甄选家</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="container-fluid content">
            <div class="row">
                <%= render "common/navbar" %>
                <%= render "common/flashes" %>
            </div>
            <div class="row">
                <div class="col-md-2 nav-sidebar">
                    <ul class="list-unstyled">
                        <!-- 商品管理 -->
                        <li><%= link_to admin_products_path do %>
                            <span class="fa fa-cube"></span>
                            <span>商品管理</span><% end %></li>
                        <!-- 品牌管理 -->
                    
                        <!-- 分類管理 -->
                        <li><%= link_to admin_categories_path do %>
                            <span class="fa fa-cubes"></span>
                            <span>分類管理</span><% end %></li>
                        <!-- 訂單管理 -->
                        <li><%= link_to admin_orders_path do %>
                            <span class="fa fa-th-list"></span>
                            <span> 訂單管理</span><% end %></li>
                        <!-- 首頁廣告管理 -->
                        <li><%= link_to admin_intros_path do %>
                            <span class="fa fa-film"></span>
                            <span>首頁廣告管理</span><% end %></li>
                    </ul>
                </div>
                <div class="col-md-10 admin-box">
                    <%= yield %>
                </div>
            </div>
        </div>
        <%= render "common/footer" %>
    </body>
</html>
